::-webkit-scrollbar {
    width: 0px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 0px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

body {
	overflow: hidden;
	font-family: 'Poiret One', cursive;
	background: linear-gradient(
    rgba(118, 0, 255, 0.5), 
    rgba(118, 0, 255, 0.1)),
    url("../img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#electron-titlebar {
	background: linear-gradient(
    rgba(20, 20, 20, 0.3), 
    rgba(118, 0, 255, 0.3)),
    url("../img/bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: 100;
}

#titlebar {
	width: 100%;
	height: 100%;
	line-height: 40px;
}

#titlebar #title {
	margin-left: 15px;
	color: white;
	font-weight: 100;
	font-size: 18px;
	font-family: 'Megrim', cursive;
	letter-spacing: 2.5px;
}

/********* MAIN CONTAINER ***********/
#mainCont {
	height: 100vh;
	margin-top: 40px;
	padding-bottom: 40px;
}

#mainHeading {
	color: white;
	font-size: 75px;
	margin-left: 10%;
	margin-top: 10%;
	margin-bottom: 0;
	font-weight: 100;
	font-family: 'Megrim', cursive;
	letter-spacing: 5px;
}

#mainCont p {
	font-size: 18px;
	margin-left: 10%;
	margin-top: 0%;
	color: white;
	font-weight: 400;
	font-family: 'Poiret One', cursive;
}

/******** SIDE CONTAINER ***********/
#sideCont {
	box-shadow: -5px 0 5px -5px #333;
	min-height: 100vh;
	max-height: 100vh;
	background: #6a3093;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
	font-weight: 100;
	overflow-y: auto;
	margin-top: 40px;
	padding-bottom: 40px;
}

#fullScreen {
	margin: 0;
	margin-top: 5px;
	font-size: 18px;
	float: right;
	opacity: 0.5;
	transition: all 0.3s;
}

#fullScreen:hover {
	opacity: 1;
	cursor: pointer;
}

#sideHeading {
	margin-top: 0;
	font-size: 35px;
	padding-bottom: 15px;
	border-bottom: 0.5px solid #b388ff;
	letter-spacing: 1px;
}

/******* BACKED UP CONTAINER ********/
#backedUpCont h5 {
	font-size: 16px;
	word-break: break-all;
	font-family: 'Poiret One', cursive;
	letter-spacing: 2px;
}

.backedUpDir {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 30px;
	border-bottom: 0.5px solid #b388ff;
}

.backedUpDir .renewRunning {
	-webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

.backedUpDir .countdown {
	letter-spacing: 3px;
	font-size: 20px;
	margin-left: 15px;
}

.backedUpDir .countdown span {
	font-size: 14px;
}

#backedUpCont i {
	color: #66bb6a;
}

#backedUpCont a i {
	color: white;
}

#backedUpCont .stopBackUpBtn {
	background-color: #ef5350;
	font-weight: 100;
}

#backedUpCont .startBackUpBtn {
	background-color: #4db6ac;
	font-weight: 100;
	margin-right: 5px;
}

#backedUpCont .disabledBtn {
	opacity: 0.3;
}

#backedUpCont .status {
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'Poiret One', cursive;
	letter-spacing: 2px;
}

#backedUpCont .status i {
	font-size: 20px;
	margin-right: 5px;
	position: relative;
	top: 2.5px;
}

#backedUpCont .running {
	color: #66bb6a;
}

#backedUpCont .stopped {
	color: #ef5350;
}

#noBackUps {
	margin-top: 75px;
}

#noBackUps h5 {
	opacity: 0.5;
}


/******************* ANIMATIONS *********************/
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
